
{% load static %}
<div class="row text-bg-info">

  <div class="col-md-4">
   <h4>Baramati</h4>
   <p>Pune</p>

  </div>

  <div class="col-md-4 mt-3">
    <h4>Quick Links</h4>
    <p><a href="about.html">About</a></p>
    <p><a href="contact.html">Contact us</a></p>
    <p><a href="index.html">Home</a></p>

  </div>

  <div class="col-md-4 mt-3">
    <h4>Connect Us</h4>
    <p><a href="https://www.facebook.com">Facebook</a></p>
    <p><a href="https://www.instagram.com">Instagram</a></p>
    <p><a href="https://www.twitter.com">Twitter</a></p>
  </div>

 </div><!--footer end-->

</div>


<script src="asset/js/popper.js"></script>
<script src="asset/js/bootstrap.min.js"></script>
</body>

     <script src="{% static 'js/popper.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</head>