{% extends 'base.html' %}

{% block 'main' %}

<div class="containe">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mb-5">User Registration Form</h1>
            <form  method="POST" action="">
                {% csrf_token %}
                <table>
                    {% for x in userform %}
                     <tr>
                        <td>{{x.label_tag}}</td>
                         <td>{{x}}</td>
                     </tr>

                     {% endfor %}
                     <tr>
                   <td><input type="submit" value="Register" class="btn btn-danger"></td>
                
                {% if Success %}
                 <span class="text-success">{{Success}}</span>
                 <a href="/login">Login</a>
                 {% endif %}
                </tr>
                </table>
            </form>
        </div>
    </div>
</div>


{% endblock 'main' %}